<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <!-- 以下の<% %>を使ってエラーメッセージ表示のeach文を追加してください -->
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <!-- 以下の<%= %>を使ってエラーメッセージを表示してください -->
            <%= message %>
          </div>
        <!-- 以下の<% %>を使ってeach文のendを追加してください -->
        <% end %>
        <!-- form_tagメソッドを用いて、データの送信先を指定してください -->
        <%= form_tag("/users/#{@user.id}/update", multipart: true, method: :patch) do %>
          <p>ユーザー名</p>
          <!-- <input>タグを用いて1行の入力フォームを作成してください -->
          <input type="text" name="name" placeholder= "<%= @user.name %>">
          <p>プロフィール画像</p>
          <input type="file" name="image">
          <p>メールアドレス</p>
          <!-- <input>タグを用いて1行の入力フォームを作成してください -->
          <input type="text" name="email" placeholder= "<%= @user.email %>"> 
          <input type="submit" value="保存">
        <!-- 以下の<% %>を使ってform_tagメソッドのendを追加してください -->
        <% end %>
      </div>
    </div>
  </div>
</div>
