<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@post.user.image_name}" %>">
        <%= link_to("#{@post.user.name}", "/users/#{@post.user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= simple_time(@post.created_at) %>
      </div>
       <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", method: :delete) do %>
         <i class="fa fa-thumbs-o-up fa-pink"></i>
        <% end %>
       <% else %>
        <%= link_to("/likes/#{@post.id}/create", method: :post) do %>
        <i class="fa fa-thumbs-o-up fa-gray"></i>
        <% end %>
       <% end %>
       <%= @post_liked %>
      <div class="post-menus">
        <% if @post.user_id == @current_user.id %>
         <%= link_to("編集", "/posts/#{@post.id}/edit") %> 
         <%= link_to("削除", "/posts/#{@post.id}/destroy", method: :delete) %> 
        <% end %>
      </div>
    </div>
  </div>
</div>

